<% if @projects.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<table class="list">
  <thead><tr>
  <th></th>  
  <th><%=l(:label_project)%></th>
  <th><%=l(:field_description)%></th>
  <!-- <th><%=l(:field_go_to)%></th> -->
  <th><%=l(:field_created_on)%></th>
  </tr></thead>
  <tbody>
<% project_tree(@projects) do |project, level| %>
  <tr class="<%= cycle("odd", "even") %> <%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
  <td><%= favorite_tag(project, User.current) %></td>  
  <td class="name"><span title="<%= project.short_description %>"><%= link_to_project(project, {:action => 'show'}, :title => project.short_description) %></span></td>
  <td><small><%= project.short_description %></small></td>
  <!-- <td><%# favorite_project_modules_links(project) %></td> -->
  <td align="center"><%= format_date(project.created_on) %></td>

  </tr>
<% end %>
  </tbody>
</table>
<% end %>